node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/

electron_mirror=https://cdn.npm.taobao.org/dist/electron/
electron_builder_binaries_mirror=http://npm.taobao.org/mirrors/electron-builder-binaries/

registry=https://registry.npmmirror.com
@mgw1986:registry=http://114.215.131.115:7300/repository/npm-host

use-node-version=18.16.0
auto-install-peers=true